@font-face {
  font-family: "Acumin";
  src: url("fonts/Acumin-BdPro.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color:#cead3a;
  --secondary-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Acumin", sans-serif;
  text-rendering: optimizeLegibility;
}

.main-content {
  margin: 13px auto;
  padding: 13px;
  padding-bottom: 13px !important;
  max-width: 1350px;
  background: #fff;
}

.kz-profile-card_details{
  position: relative;
  top: 0;
  transition: top ease 0.6s;
  bottom: 400px;
}

.anim{
  size: 50px;
  opacity: 0;
  transition: 0.5s;
  transition-duration: inherit;
  position: relative;
  top:60px;
  left: 0px;
  z-index: 1;
}
.anim:hover{
  opacity: 0.5;
}

.kz-section{
  padding-left: 7%;
  padding-top: 5%;
}
.kz-profile-card_padding {
  padding: 40px;
  position: relative;
  margin-top: ;
} 

 .kz-profile-card-image {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);
}

.kz-profile-card-image img{
  width: 100%;
  height: auto;
  margin-top: -25%;
  /* clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);
 */
}

.kz-profile-card-image:hover + .kz-profile-card_details{
  top: -30px;
}
.kz-profile-card_details:hover{
  top: -30px;
}


.kz-profile-card .kz-profile-card_details h3 {
  position: absolute;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  left: 30px;
  }

.kz-profile-card .kz-profile-card_details p {
  position: absolute;
  font-size: 16px;
  margin-bottom: 15px;
  top: 110px;
  left: 30px;
 }

.kz-profile-card .kz-profile-card_social {
  text-align: center;
}

.kz-profile-card .kz-profile-card_social a {
  display: inline-block;
}

.kz-profile-card .kz-profile-card_social img {
  width: 33px;
  margin: 5px 13px;
}

@media (max-width: 992px)
{
  .kz-profile-card .kz-profile-card-image{
    margin-left:  ;
  }
}
