*{
    padding: 0;
    margin: 0;
    position: relative;
}
.kz-concrete-intro {
    margin: 100px 0px;
    position: relative;
}

.kz-concrete-intro > .row > div:first-child {
    padding: 20px 0px;
}

.kz-concrete-intro > .row > div:nth-child(2) {
    padding: 20px 0px;
}

.kz-concrete-intro > .row > div:nth-child(2) p{
    padding: 10px 50px;
}

.kz-concrete-intro > .row > div:first-child img{
    width: 400px;
    height: auto;
}


.kz-concrete-event > .row > div > ul {
    list-style: none;
    padding: 20px 5px;
}

.kz-concrete-event > .row > div > ul> li {
    height: 32px;
}

.kz-concrete-event > .row > div > ul > li > button {
    outline: none;
    background: none;
    border: none;
}

.kz-concrete-event{
    margin-bottom: 100px;
    height: 10rem;
    position: relative;
}

.kz-concrete-event > .row > div > ul > li > button:hover {
    border-bottom: 1px dashed #cead3a;
}

.kz-concrete-slider {
    display: block;
    width: 100%;
    margin: 100px auto 100px auto;
}
.kz-concrete-slider .carousel-inner {
    width: 100%;
    height: auto;
}
.kz-concrete-slider img{
    width: 100%;
    height: auto;
}
.kz-concrete-slider h2{
    margin: 20px auto;
    font-size: 48px;
    font-weight: 700;
}
.kz-concrete-slider h2 span {
    color: #cead3a;
    font-weight: 700;
}
.kz-concrete-slider .carousel-control-prev-icon,
.kz-concrete-slider .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: none;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.kz-concrete-slider .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.kz-concrete-slider .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}

.modal-body img{
    width: 100%;
    height: auto;
}

.modal-footer button{
    outline: none !important;
    border: none !important;
    background-color: #cead3a !important;
}

@media (max-width: 576px) {
    .kz-concrete-event{
        height: 30rem;
    }
    .kz-concrete-event > .row > div > ul> li {
        height: 48px;
    }
    .kz-concrete-intro > .row > div:first-child img{
        width: 100%;
        height: auto;
    }
}